<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DB_NAME</key>
	<string>imdb_exercise</string>
	<key>IMDB_API_URL</key>
	<string>https://imdb-api.com/API</string>
	<key>IMDB_API_KEY</key>
	<string>k_oan5sgc8</string>
</dict>
</plist>
